.pay-pop-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acc-form-item {
    width: 96%;
    margin-bottom: 1rem;
    display: flex;
    background-color: #F4F4F4;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #BE9F5B;
    font-size: 2rem;
}